.detail-container {
  width: 30rem;
  padding: 0 16px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
}

.row-title {
  font-weight: bold;
}

.row-description{
  /* I believe this color should be changed */
  color: #e4e4e4;
}

.row-price {
  font-weight: bold;
}

.product-image {
  max-width: 100%;
  object-fit: cover;
}
